body {
  background: $body-bg-alt;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background: $body-bg-alt-dark;
    }
  }
}

#Blog {
  @extend .col-8;
}

#Sidebar {
  @extend .col-4;

  .widget {
    @extend .card;
    @extend .card-body;
    @extend .mb-3;
  }
}

#main-container {
  margin-top: 5rem;

  img {
    @extend .img-fluid;
    border-radius: $border-radius;
  }
}
